<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.cleaninsights.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DemoActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            android:parentActivityName=".DemoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DemoActivity" />
        </activity>
        <activity
            android:name=".ThresholdActivity"
            android:label="@string/title_activity_threshold"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>